{% extends 'initiative/base.html' %}

{% block content %}
    <form method="post" action="">
        {{ formset.management_form }}
        {% csrf_token %}
        <table>
            <tr>
                <th>Character</th>
                <th>Present</th>
            </tr>
            {% for form in formset %}
                {% for hidden in form.hidden_fields %}
                    {{ hidden }}
                {% endfor %}
                <tr>
                    <td>{{ form.name }}</td>
                    <td>{{ form.present }}</td>
                </tr>
            {% endfor %}
            <tfoot>
                <td colspan="2"><button type="submit" class="save btn btn-default">Save</button></td>
            </tfoot>
        </table>
    </form>
{% endblock %}