{% load initiative_extras %}
{% load static %}

<link rel="stylesheet" type="text/css" href="{% static 'initiative/styles.css' %}" />

{% if character %}
    <form action="{% url 'initiative:update' character.name %}" method="post">
        {% csrf_token %}
        <table class="center">
            <th colspan="2">{{ character.name }}</th>
			<tr>
                <td>Initiative:</td>
                <td><input type="text" value={{ character.initiative }}></td>

            </tr>
			<tr>
                <td>Armor class:</td>
                <td><input type="text" value={{ character.armor_class }}></td>
            </tr>
			<tr>
                <td>Fortitude:</td>
                <td><input type="text" value={{ character.fortitude }}></td>
            </tr>
			<tr>
                <td>Reflex:</td>
                <td><input type="text" value={{ character.reflex }}></td>
            </tr>
			<tr>
                <td>Will:</td>
                <td><input type="text" value={{ character.will }}></td>
            </tr>
			<tr>
                <td>Hit points:</td>
                <td><input type="text" value={{ character.hit_points }}></td>
            </tr>
			<tr>
                <td>Damage: </td>
                <td><input type="text" value={{ character.damage_taken }}></td>
            </tr>
			<tr>
                <td>Current HP:</td>
                <td><input type="text" value={{ current_hp }}></td>
            </tr>
			<tr>
                <td>Notes:</td>
                <td><input type="text" value={{ character.notes }}></td>
            <tr>
                <td><input type="submit" value="Save"/></td>
            </tr>
        </table>
    </form>

{%  else %}
    <p> There is no character by this name</p>
{% endif %}