{% load initiative_extras %}
{% load static %}

<link rel="stylesheet" type="text/css" href="{% static 'initiative/styles.css' %}" />

{%  if character %}
    <table class="center">
        <th colspan="2">{{ character.name }}</th>
        <tr>
            <td>Initiative:</td> 
            <td><input type="text" value={{ character.initiative }}></td>
        </tr>
        <tr>
			<td>Armor class:</td>
			<td>{{ character.armor_class }}</td>
        <tr>
			<td>Fortitude:</td>
			<td>{{ character.fortitude|sign }}</td>
        <tr>
			<td>Reflex:</td>
			<td>{{ character.reflex|sign  }}</td>
        <tr>
			<td>Will:</td>
			<td>{{ character.will|sign  }}</td>
        <tr>
			<td>Hit points:</td>
			<td>{{ character.hit_points }}</td>
        <tr>
			<td>Damage: </td>
			<td>{{ character.damage_taken }}</td>
        <tr>
			<td>Current HP:</td>
			<td>{{ current_hp }}</td>
        <tr>
			<td>Notes:</td>
			<td>{{ character.notes }}</td>
    </table>
{%  else %}
    <p> There is no character by this name</p>
{% endif %}