{% extends 'initiative/base.html' %}

{% block content %}
    {% if character_list %}
        <table>
        <tr>
            <th>Name</th>
            <th>Initiative</th>
        </tr>
        {% for character in character_list %}
            <tr>
                <td><a href="characters/{{ character.name }}/">{{character.name}}</a></td>
                <td>{{ character.initiative }}</td>
            </tr>
        {% endfor %}
        <table/>
    {% else %}
        <p> No characters are ready for battle.</p>
    {% endif %}
{% endblock %}