{% extends 'initiative/base.html' %}

{% block content %}
    {% if character_list %}
        <table>
        <tr>
            <th>Name</th>
            <th>Initiative</th>
        </tr>
        {% for character in character_list %}
            <tr>
                <td>
                    {% if character.is_monster %}
                        <a href="monsters/{{ character.name }}/">
                    {% else %}
                        <a href="characters/{{ character.name }}"/>
                    {% endif %}
                    {{character.name}}</a>
                </td>
                <td>{{ character.initiative }}</td>
            </tr>
        {% endfor %}
        <table/>
    {% else %}
        <p> No characters are ready for battle.</p>
    {% endif %}
{% endblock %}